<div class="container-fluid section-holder d-flex bg-white">
    <div class="container anchor p-md-5 about-section" id="about">
        <div class="row pt-sm-2 pt-md-4 align-self-center">
            <!-- Profile Info -->
            <div class="col-md-6">
                <h3 class="p-1">Fabian Sellberg</h3>
                <h5 class="p-1">Architect</h5>
                <p class="p-1 text-justify">
                    I am an Architect with a passion for simplicity in complex systems. My focus is on how digital tools shape contemporary architecture and how to further develop these to create more diverse and interesting projects.
                </p>
                <div class="text-container ml-auto">
                    <ul class="social-link d-flex">
                        <li><a href="mailto:fabian.sellberg@hotmail.com"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://github.com/fabiansyber"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/fabian-sellberg-4099b71a0/"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <a href="files/resume.pdf" target="#"><button class="btn btn-dark">My Resume</button></a>
            </div>

            <!-- Skill Circles -->
            <div class="col-md-6 pt-5 pl-md-4 pl-sm-3 pt-md-0">
                <div class="row about-skills">
                    <!-- Skill circles -->
                </div>
            </div>
        </div>
    </div>
</div>