<nav class="navbar navbar-expand-lg top-navbar initial-navbar" id="top-navbar">
  <div class="container">
    <a class="navbar-brand" href="http://fabiansyber.se/">
      <img src="/images/logo-inverted.png" id="logo">Fabian
    </a>
    <button
      class="navbar-toggler navbar-dark"
      id="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#top-nav-items"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="top-nav-items">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#experiences">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#skills">Skills</a>
        </li>
      </ul>
    </div>
  </div>
</nav>