<div class="container-fluid anchor pb-5 skills-section" id="skills">
  <h1 class="text-center">Skills</h1>
  
  <div class="container d-flex-block">
    <div class="row" id="primary-skills">
      <!-- Skill Card Template -->
      ${skills.map(skill => `
        <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
          <div class="card">
            <div class="card-head d-flex">
              ${skill.image ? `
                <img class="card-img-xs" src="/assets/images/${skill.image}" alt="${skill.title}" />
              ` : ''}
              <h5 class="card-title">${skill.title}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">${skill.description}</p>
            </div>
          </div>
        </div>
      `).join('')}
    </div>
  </div>
</div>