@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-800 bg-white;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    @apply font-bold;
  }
}

@layer components {
  .btn-style {
    @apply px-6 py-3 rounded-xl 
    inline-flex items-center justify-center font-semibold 
    transition-transform duration-500 ease-out;
  }

  .btn-shadow-style {
    @apply absolute top-0 left-0 w-full h-full rounded-xl 
    border-2
    translate-x-2 translate-y-2 
    pointer-events-none 
    -z-10;

    clip-path: inset(0.2rem 0 0 0.2rem round 0.5rem); 
  }

  .btn-primary {
    @apply btn-style 
    bg-primary-500 text-white border-2 border-primary-500
    hover:bg-primary-600;
  }

  .btn-secondary {
    @apply btn-style 
    bg-secondary-500 text-white border-2 border-secondary-500
    hover:bg-secondary-600;
  }

  .btn-transparent {
    @apply btn-style
    bg-transparent text-primary-500 border-2 border-primary-500
    hover:bg-primary-500 hover:text-white;
  }

  .btn-primary-shadow {
    @apply btn-shadow-style border-primary-500;
  }

  .btn-secondary-shadow {
    @apply btn-shadow-style border-secondary-500;
  }

  .btn-transparent-shadow {
    @apply btn-shadow-style border-primary-500;
  }

  .btn-primary:hover, .btn-secondary:hover, .btn-transparent:hover {
    @apply translate-x-1 translate-y-1;
  }

  .bg-pattern {
    @apply pattern-cross pattern-gray-400 pattern-bg-gray-100 
    pattern-size-16 pattern-opacity-20 bg-fixed;
  }

  .card-style {
    @apply  p-4
    bg-gray-50 border-2 border-gray-100
    hover:border-gray-200
    shadow-[10px_10px_0px_0px_rgba(0,_0,_0,_0.1)];
  }

  .card-hover {
    @apply transition-all duration-300 hover:shadow-2xl hover:-translate-y-2;
  }
  
  .section-container {
    @apply container mx-auto p-12;
  }
  
  .skill-badge {
    @apply inline-flex items-center px-4 py-2 border-2 border-accent-200 text-sm font-medium bg-gradient-to-t from-accent-100 to-accent-200 text-black;
  }
}